body {
    background-color: lavenderblush;
    text-align: center;
}
head {
    font-family: 'Raleway', sans-serif;
    font-family: 'Playfair Display', serif;
}
    h1 {
    font-size: 100px;
    margin-bottom: 0.5cm;
    Margin-top: 0.5cm;
    color: plum;
    font-family: 'Raleway', sans-serif;
    }
    div {
    font-size: 20px;
    color: lightpink;
    font-family: 'Arvo', serif;
    }
    p {
    font-size: 30px;
    color: gray;
    font-family: 'Playfair Display', serif;  
    }
    img {
    width: 11cm;
    height: 11cm;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    }