body {
    background-image: url(blog/bunnies.jpeg);
    max-width: 100%;
    padding: 0px;
    background-size: cover;
}
.sidenav {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: green;
    padding-top: 20px;
}
.sidenav a {
    padding: 4px 10px 10px 30px;
    display: inline;
    color:cornsilk;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}
.main-headings {
    color: black;
}
.sub-headings {
    color: black;
}
h1 {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 50px;
    text-align: centre;
    margin-top: 7cm;
    margin-left: 18cm;
   
}
h2 {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 40px;
    text-align: centre;
    margin-top: 0.5cm;
    margin-left: 18cm;   
}