body {
    background-color:white;
    font-family: 'Raleway', sans-serif;
}
div.experiment {
    margin-bottom: 100px;
    width: 500px;
    height: 80px;
    background-color: orange;
}
div.baseline {
    width: 500px;
    height: 80px;
    background-color: pink;
}